<div layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-click="openNav()">
				<md-icon>
					<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
					</svg>
				</md-icon>
			</md-button>
			
			<h2 flex>Players</h2>
			
			<md-button class="md-icon-button" aria-label="Filter" ng-click="filterDialog()" ng-disabled="isLoading">
				<md-icon>
					<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
						<path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<div ng-show="isLoading" flex="grow" layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
			<div class="md-margin">Loading</div>
		</div>
	</div>
	
	<md-list ng-show="!isLoading">
		<md-list-item ng-repeat="player in playersDisplay" class="md-2-line">
			
			<md-button ng-click="editPlayer(player.id)" layout="row" layout-align="start center" flex="grow">
				<div class="listIcon" md-colors="{background: player.color}" layout="column" layout-align="center center">
					<div class="listLetter">{{player.number}}</div>
				</div>
				
				<div class="md-list-item-text md-padding" layout="column">
					<h3>{{player.firstName}} {{player.lastName}}</h3>
					<p>{{player.team.name}} - {{player.age}}Yrs.</p>
				</div>
			</md-button>
			
		</md-list-item>
	</md-list>
	
	<md-button ng-show="!isLoading" class="md-fab md-accent floatingButton" aria-label="Add" ng-click="addPlayer()">
		<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			<path d="M0 0h24v24H0z" fill="none"/>
		</svg>
	</md-button>
</div>
