<div layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-click="openNav()">
				<md-icon>
					<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
					</svg>
				</md-icon>
			</md-button>
			
			<h2>Teams</h2>
		</div>
	</md-toolbar>
	
	<div ng-show="isLoading" flex="grow" layout="row" layout-align="center center">
		<div layout="column">
			<md-progress-circular class="md-primary md-margin" md-diameter="40"></md-progress-circular>
			<div class="md-margin">Loading</div>
		</div>
	</div>
	
	<md-list ng-show="!isLoading">
		<md-list-item ng-repeat="team in teams" class="md-2-line">
			
			<md-button ng-click="editTeam(team)" layout="row" layout-align="start center" flex="grow">
				<div class="listIcon" md-colors="{background: team.color}" layout="column" layout-align="center center">
					<div class="listLetter">{{team.letter}}</div>
				</div>
				
				<div class="md-list-item-text md-padding" layout="column">
					<h3>{{team.name}}</h3>
					<p>{{team.division}} - {{team.season}} {{team.year}}</p>
				</div>
			</md-button>
			
		</md-list-item>
	</md-list>
	
	<md-button ng-show="!isLoading" class="md-fab md-accent floatingButton" aria-label="Add" ng-click="addTeam()">
		<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			<path d="M0 0h24v24H0z" fill="none"/>
		</svg>
	</md-button>
</div>
